@import "./bootstrap";

body {
    font-family: "M PLUS Code Latin", monospace;
}

header {
    img {
        filter: grayscale(100%);
    }
}

.icons {
    width: 24px;
}

.hr {
    height: 1px;
    background-color: #ddd;
}

section {
    li {
        color: $gray-600;
    }
}

@media print {
    .hr {
        display: none !important;
    }
    #header, #summary, #skills, #working-exp, #education, #languages {
        margin-bottom: 2rem;
    }

    body {
        font-family: "Segoe UI", sans-serif;
    }

}
